{% extends 'base.html' %}   
{% load static %}
{% block title %}collection{% endblock %}

{% block content %} 
  
  
​  <div class="card-columns">
  <div class="card">
   <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Being the richest man in the cemetery doesn't matter to me. Going to bed at night saying we've done something wonderful, that's what matters to me.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
            <cite title="Source Title">steve jobs</cite>
        </small>
      </footer>
    </blockquote>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>You can't connect dots looking forward.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
           <cite title="Source Title">seve jobs</cite>
        </small>
      </footer>
    </blockquote> 
    <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>A lot of times, people don't know what they want until you show it to them.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
         <cite title="Source Title">steve jobs</cite>
        </small>
      </footer>
    </blockquote>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/du.png'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Steve</h5>
      <p class="card-text">He wanted to put a ding in the universe but, with his work he has put a big Bump in the world. He was crazy enough to think of changing the world, so he did. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Here's to the crazy ones. The misfits. The rebels. The troublemakers. The round pegs in the square holes. The ones who see things differently. They're not fond of rules. And they have no respect for the status quo. You can quote them, disagree with them, glorify or vilify them. About the only thing you can't do is ignore them. Because they change things. They push the human race forward. And while some may see them as the crazy ones, we see genius. Because the people who are crazy enough to think they can change the world, are the ones who do.</p>
      <footer class="blockquote-footer text-white">
        <small>
         <cite title="Source Title">steve jobs</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  
  </div>
  <div class="card">
     
  </div>
  
  
  </div>
</div>

 {% endblock %}